body {

  font-family: 'Roboto', sans-serif;

  background-image: linear-gradient(to right, #4d0a35, #f2f2f2);

  /* background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat; */


}

#formStyloso {

  background: #fff;
  border: solid #000 1px;
  
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  
  text-align: center;

  display: block;

  width: 400px;
  height: 550px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;

  padding: 10px;
}

button {

  background-color: blueviolet;
  border: none;
  color: #f2f2f2;

  cursor: pointer;

  width: 350px;
  height: 70px;

  margin-top: 10px;
  padding: 10px 75px;

}

button:hover {

  opacity: 0.8;

}

input {

  padding: 15px;
  margin: 15px;
  width: 300px;

  background-color: #f2f2f2;
  border: none;
  
}
input:hover::placeholder {
  padding-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input:focus {
  background-color: #f7f7f3;
  
}

#userName {

  background-color: #c4c4c4;

}


/* Paleta: rosa (#f4ddec), verde (#f1f7f3), cinza escuro (#c4c4c4), cinza claro (#f2f2f2) */